@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model WebApplication2.Models.Entity.Student

<h1>Edit Student </h1>

@if (Model is null)
{
    <p>No student was found with this ID</p>
}

@if (Model is not null)
{
<form method="post">

    <div class="mt-3">
        <label class="form-lable">ID</label>
        <input type="text" class="form-control" asp-for="ID" readonly />
    </div>

    <div class="mt-3">
        <label class="form-lable">Name</label>
        <input type="text" class="form-control" asp-for="Name" />
    </div>

    <div class="mt-3">
        <label class="form-lable">Email</label>
        <input type="email" class="form-control" asp-for="Email" />
    </div>

    <div class="mt-3">
        <label class="form-lable">Phone</label>
        <input type="number" class="form-control" asp-for="Phone" />
    </div>

    <div class="mt-3">
        <input type="checkbox" class="form-check-input" id="Subscribed" asp-for="subscribed" />
        <label class="form-checked-lable" for="Subcribed">Subscribed</label>
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">save</button>
    </div>

</form>
}